{% extends 'base.html'%}

{% block content %}
<!-- Die Klasse des Mannes besteht darin, sich zu konzentrieren -->
<main class="container py-5"> 
    <section class="card card-body">
        <h1 class="display-1 text-center">NoteStresses</h1>
        <p class="text-center">Aplicación creada con Django,SQL3 y ScSS.
            Registrate y crea tus notas con sus funciones esenciales
        </p>

       <div class="text-center">
        <a class="btn btn-secondary" href="signin/">
            SignIn
        </a>
         <a class="btn btn-dark" href="signup/">
            SignUp
         </button>
        </a>
    
    </section>
</main>
{% endblock %}
