{% extends 'base.html'%}

{% block content %}
<!-- Die Klasse des Mannes besteht darin, sich zu konzentrieren -->
<main class="container py-5"> 
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit maiores quos quisquam doloribus cumque delectus in, 
        laborum ipsum aliquam. Fugiat, nobis! Ipsa optio nostrum nobis officiis eos voluptatem qui eligendi vero, ullam nihil
         reprehenderit ipsam temporibus enim in dolorum corporis voluptatum natus fugiat iusto earum commodi cum. Ex cum quibusdam 
         accusantium harum quas sit ut laborum! Nesciunt quo ducimus ullam, iste ipsa repellendus quos possimus perferendis dicta 
         ipsum porro rem aliquam quisquam iure accusantium molestiae eos illum. Obcaecati, ipsa, sequi nisi fugiat unde nam natus 
         distinctio quo sunt praesentium consequatur quam quisquam? Commodi non necessitatibus dicta doloribus ut velit ab.</p>

       <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            SignIn
        </a>
         <a class="btn btn-dark" href="/signup/">
            SignUp
         </button>
        </a>
    
    </section>
</main>
{% endblock %}
